<footer class="bg-dark text-beige py-5">
    <div class="container"> 
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-2 text-center text-lg-left">
                <a href="./accueil"><img src="../img/logo-footer-fr.svg" alt="" class="logo-footer mb-4"></a>
            </div>
            <div class="col-lg-8">
            <ul class="list-unstyled d-flex flex-column flex-lg-row justify-content-center align-items-center flex-wrap">
                <li class="me-md-4 mb-4 mb-lg-0"><a href="equipe" class="footer-link">Team</a></li>
                <li class="me-md-4 mb-4 mb-lg-0"><a href="services" class="footer-link">Services</a></li>
                <li class="me-md-4 mb-4 mb-lg-0"><a href="transactions" class="footer-link">Transactions</a></li>
                <li class="me-md-4 mb-4 mb-lg-0"><a href="contact" class="footer-link">Contact</a></li>
            </ul>
            </div>
            <div class="col-lg-2 text-center text-lg-left">
            <a href="https://www.linkedin.com/in/lailasahyoun/" class="text-gold-light" target="_blank"><i class="fa fa-linkedin-square fa-xl"></i></a>
            </div>
        </div>
        <div class="py-5">
        <p class="mini text-center">© <span id="year"></span> Strategic Legal. All rights reserved.</p>
        </div>
    </div>
</footer>